<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço</title>
    
    <style>
        table, th, td {
          border: 1px solid greenyellow;
        }
    </style>

</head>

<body>
    <h1>Editar Serviço</h1>    
    <a href="/">Menu</a>
    <a href="/servicos">Voltar</a>
    <br>
    <br>
    <form th:action="@{/updateservico}" th:object="${servico}" method="POST" id="formServico">
      
        <label>ID:</label> <span th:text="${servico.id}"></span>
        <br>
        <input type="hidden" th:value="${servico.id}" th:field="${servico.id}" name="id" />
        <label>Tipo:</label>
        <input type="text" placeholder="Digite o tipo do serviço" th:value="${servico.tipo}" name="tipo" required/>
        <br>  
        <label>Preço:</label>
        <input type="number" th:value="${servico.preco}" name="preco" min="1" required/>
        <br>  
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Cancelar"/>
    </form>
    
</body>

</html>
